
    <!-- Custom CSS -->
    <style>
        /* Ajuste de tamaño de la imagen del logotipo */
        .logo {
            max-width: 100%; /* Ajustar al ancho máximo del contenedor */
            height: auto; /* Mantener la proporción de aspecto */
            display: block;
            margin: auto; /* Centrar horizontalmente */
            margin-top: 20px; /* Añadir un poco de espacio superior */
            margin-bottom: 40px; /* Añadir un poco de espacio inferior */
        }

        /* Estilos para las tarjetas */
        .card {
            margin-bottom: 20px;
        }
    </style>
<body>

<div class="container">
    <!-- Logotipo -->
    <img src="/img/logo.png" alt="logo" class="logo">

    <!-- Cuadrícula de tarjetas -->
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">Misión</h5>
                <div class="card-body">
                    <p class="card-text"> "Nuestra misión es ofrecer moda accesible, sostenible y de alta calidad que empodere a las personas a expresarse con confianza y estilo. Nos comprometemos a utilizar materiales ecológicos y prácticas éticas en toda nuestra cadena de suministro para contribuir a un futuro más verde y justo para todos." </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">Visión</h5>
                <div class="card-body">
                    <p class="card-text"> "Nuestra visión es ser la marca de ropa líder reconocida globalmente por nuestra innovación, inclusividad y compromiso con la sostenibilidad. Aspiramos a inspirar a millones de personas a vestir con propósito y responsabilidad, creando un impacto positivo en el mundo a través de la moda." </p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header text-center">Historia</h5>
                <div class="card-body">
                    <p class="card-text">Nuestra historia comenzó en 2010 cuando nuestro fundador, Juan Pérez, tuvo una visión: crear una marca de ropa que combinara estilo, calidad y sostenibilidad. Con una pequeña inversión y una gran pasión por la moda, Juan empezó a diseñar y producir prendas únicas desde su pequeño taller en la ciudad de México.</p>
                    <!-- Más contenido de la tarjeta de historia -->
                </div>
            </div>
        </div>
    </div>

    <!-- Pie de página -->
    <footer class="footer text-center mt-4">
        <p>&copy; 2024 Creado por Erick Delgado. Todos los derechos reservados.</p>
    </footer>
</div>

</body>








